<footer class="bg-beige py-5 w-ful">

  <section class="grid grid-cols-1 lg:grid-cols-3 justify-between items-center px-20">

   <%# 1st block %>
    <div>
      <p class="text-federalblue">Access strictly for staff</p>
    </div>

    <%# 2d block %>
    <div class="justify-center text-center">
      <h3 class="text-2xl pb-5 text-federalblue">Follow us</h3>
       <%= image_tag 'logo.png', class: 'w-36' %>

      <!-- Social media icons -->
      <div class="mb-5 flex space-x-6 justify-center">
        <a href="#">
		      <i class="ri-linkedin-box-fill w-12" alt="icône in"></i>
        </a>

        <a href="#">
            <i class="ri-facebook-circle w-6" alt="icône fb"</i>
        </a>

        <a href="#">
            <i class="ri-instagram-fill w-6" alt="icône insta"></i>
        </a>
      </div>

    <div>

    <%# 3d block %>
    <div>
      <a href="mailto:doctoblog@question.net" class="text-federalblue">doctoblog@question.net</a>
    </div>


  </section>


    <div>
      <hr class="w-36 mx-auto mb-5 bg-federalblue">
      <p class="text-center text-federalblue mt-8 text-base md:mt-0">&copy; 2023 L.A. Hospital, all rights reserved</p>
    </div>







</footer>

