<!-- Footer -->

<%# TO DO %>
<%# <footer class="bg-beige py-5 w-ful">

  <section class="grid grid-cols-3 items-center">

    <div>
      <p>Blog interne</p>
    </div>

    <div>
      <h3 class="text-3xl pb-5 text-center text-federalblue">Retrouvez-nous ici</h3>

      <!-- Social media icons -->
      <div class="mb-5 flex space-x-6 justify-center">
        <a href="#">
		      <i class="ri-linkedin-box-fill w-6" alt="icône in"></i>
        </a>

        <a href="#">
            <i class="ri-facebook-circle w-6" alt="icône fb"</i>
        </a>

        <a href="#">
            <i class="ri-instagram-fill w-6" alt="icône insta"></i>
        </a>
      </div>

      <hr class="w-36 mx-auto mb-5 bg-federalblue">

      <p class="text-center mt-8 text-base text-gray-400 md:mt-0">&copy; 2022 SEOTOOL, TOUS DROITS RÉSERVÉS</p>

    </div>


    <div>
      <a href="mailto:doctoblog@question.net" class="text-federalblue justify-end">doctoblog@question.net</a>
    </div>

  </section>


</footer> %>

